
body{ font-size:12px; font-family:"宋体"; color:#616161; }

#content{
    width:800px;  
    margin:20px auto; 
    padding:10px 10px ;
    border: 1px solid #ccc;
    border-radius:12px;  
    }
#content h2{ text-align: center;}
.red{color:red;} 

/* #content>p{  text-decoration:underline} */
#smallDiv~p{ text-decoration:underline}


